@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing:inherit;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 0px;
  }

div{
    margin: 0;
    padding: 0;
}
.intro-box{
    height: 100vh;
    background-color: palevioletred;
    position: relative;
}

.nav{
    display: block;
    position: fixed;
    right: 0;
    text-align: right;
    padding: 30px;
    z-index: 99;
}

.nav a{
    display: inline-block;
    margin: 5px;
    color: white;
    font-size: 3vh;
}

.birth{
    position: absolute;
    bottom: 20vh;
    right: 0;
}

.birth p{
    transform: rotate(-90deg);
    font-size: 3vh;
    color: white;
}

.name{
    position: absolute;
    bottom: 0;
    margin: 0;
}

.name h1{
    font-size: 20vh;
    margin-bottom: 1vh;
    line-height: 18vh;
    color: white;
}

.main{
    background-color: rgb(255, 238, 241);
}

.intro{
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    width: 100vh;
    line-height: 7vh;
}

.big-font{
    font-size: 13vh;
    font-weight: 900;
}

.text{
    font-weight: 300;
    font-size:  3vh;
}

.left-margin{
    margin-left : 35%;
    margin-right: 5%;
}

.right-margin{
    margin-right : 35%;
    margin-left: 5%;
    text-align: left;
}

.container{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}
  
.box{
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.background-header, .ambitions  {
    margin-left: 3.5vh;
}

.background p{
    line-height: 5vh;
}

.hobbies-header, .contact{
    text-align: right;
}

.back-btn{
    position: sticky;
    bottom: 0;
    right: 0;
    font-size: 5vh;
}
